{% extends 'base.html' %}


{% block content %}

  <h1 class="page-header">Sagittarius A*</h1>

  <p class="lead">
    Sagittarius A* (pronounced "Sagittarius A-star", standard abbreviation Sgr A*) is a bright and very compact astronomical radio source at the center of the Milky Way, near the border of the constellations Sagittarius and Scorpius. It is part of a larger astronomical feature known as Sagittarius A.
  </p>

  <p>
    Sagittarius A* is believed to be the location of a <strong>supermassive black hole</strong> like those that are now generally accepted to be at the centers of most spiral and elliptical galaxies.
  </p>

  <p>
    Observations of the star S2 in orbit around Sagittarius A* have been used to show the presence of, and produce data about, the Milky Way's central supermassive black hole, and have led to the conclusion that Sagittarius A* is the site of that black hole.
  </p>

{% endblock content %}
